<div class="project-item" *ngFor="let projectItem of dataList; let _index = index">
  <div class="label-name">
    <app-editor-item-name class="inline-block" [item]="projectItem"></app-editor-item-name>
    <app-editor-item-control 
      class="setting-label" 
      [type]="'label'" 
      [list]="dataList"
      (editorDataEvent)="formControlEvent($event, projectItem, _index, 1, null)"
      ></app-editor-item-control> 
  </div>
  <div class="project-content">
    <div *ngFor="let projectSubItem of projectItem.children;let _childIndex = index;" 
      [ngClass]="{
        active: projectSubItem?._active,
        'text-center': !projectSubItem?._active,
        'project-sub-item': true
      }">
      <div class="label-name">
        <app-editor-item-data-textarea
        [placeholder]="'请输入名称'"
        [data]="projectSubItem"
        [param]="'label'"
        ></app-editor-item-data-textarea>

        <!-- <app-editor-item-name class="inline-block" [item]="projectSubItem" [full]="true"></app-editor-item-name> -->
      </div>
      <div class="project-sub-content">
        <div class="project-entity-item">
          <app-editor-item-data-textarea
            [placeholder]="'请输入检查标准'"
            [data]="projectSubItem"
            [param]="'standard'"
            ></app-editor-item-data-textarea>
          <div class="entity-content">
             <ng-container class="title" *ngFor="let typeItem of subTitle;">
              <!-- 赋值类型 -->
              <app-editor-item-data-type *ngIf="['dataType'].includes(typeItem.type) && projectSubItem" [data]="projectSubItem"></app-editor-item-data-type>
              <!-- 数据来源 -->
              <app-editor-item-data-source-type *ngIf="['dataSourceType'].includes(typeItem.type) && projectSubItem" [data]="projectSubItem"></app-editor-item-data-source-type>
              <!-- 数据源设置 -->
              <app-editor-item-data-config *ngIf="['dataConfig'].includes(typeItem.type) && projectSubItem"  [data]="projectSubItem"></app-editor-item-data-config>
              <!-- 描述 -->
              <!-- <app-editor-item-data-textarea
                *ngIf="['description'].includes(typeItem.type)" 
                [placeholder]="'请输入描述'"
                [data]="projectSubItem"
                [param]="'description'"
                ></app-editor-item-data-textarea> -->
              <!-- 操作 -->
              <app-editor-item-control 
              class="setting-item"  
              *ngIf="['control'].includes(typeItem.type)"
              [list]="projectItem.children"
              [data]="projectSubItem"
              (editorDataEvent)="formControlEvent( $event,projectSubItem, _childIndex, 2, projectItem)"></app-editor-item-control> 
             </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>