<div class="project-item" *ngFor="let projectItem of dataList; let _index = index">
  <div class="label-name">
    <app-editor-item-name class="inline-block" [item]="projectItem"></app-editor-item-name>
    <app-editor-item-control 
      class="setting-item" 
      [type]="'label'" 
      (addItem)="formControlEvent(projectItem,'add', _index, 1, null)"
      (deleteItem)="formControlEvent(projectItem,'del', _index, 1, null)"
      ></app-editor-item-control> 
  </div>
  <div class="project-content">
    <app-editor-item-control class="setting-item"
    [type]="'addEntity'"
    (addItem)="formControlEvent(null, 'add', _index, 2, projectItem)"></app-editor-item-control> 

    <div class="project-sub-item" *ngFor="let projectSubItem of projectItem.children">
      <div class="label-name">
        <app-editor-item-name class="inline-block" [item]="projectSubItem" [full]="true"></app-editor-item-name>
      </div>
      <div class="project-sub-content">
        <div class="project-entity-item">
          <textarea  class="select" nz-input [(ngModel)]="projectSubItem.standard" placeholder="请输入检查标准"></textarea>
          <div class="entity-content">
             <ng-container class="title" *ngFor="let typeItem of subTitle;">
              <!-- 赋值类型 -->
              <app-editor-item-data-type *ngIf="['dataType'].includes(typeItem.type) && projectSubItem" [data]="projectSubItem"></app-editor-item-data-type>
              <!-- 数据来源 -->
              <app-editor-item-data-source-type *ngIf="['dataSourceType'].includes(typeItem.type) && projectSubItem" [data]="projectSubItem"></app-editor-item-data-source-type>
              <!-- 数据源设置 -->
              <app-editor-item-data-config *ngIf="['dataConfig'].includes(typeItem.type) && projectSubItem"  [data]="projectSubItem"></app-editor-item-data-config>
              <!-- 描述 -->
              <textarea  class="select" *ngIf="['description'].includes(typeItem.type)" nz-input [(ngModel)]="projectSubItem.description" placeholder="请输入描述"></textarea>
              <!-- 操作 -->
              <app-editor-item-control class="setting-item"  *ngIf="['control'].includes(typeItem.type)"
              (addItem)="formControlEvent(projectSubItem, 'add', _index, 2, projectItem)"></app-editor-item-control> 
             </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>