<div class="s-editor">
  <div class="nav-header">
    <app-nav-operation (operationEvent)="operation($event)"></app-nav-operation>
  </div>
  <div class="content">
    <div class="header">
      <app-editor-item-name class="inline-block" [item]="formEditorContentData" [param]="'name'"></app-editor-item-name>
    </div>
    <div class="editor-body">
      <div class="editor-title">
        <div class="title-item" *ngFor="let item of formEditorTitle">{{item.name}}</div>
      </div>
      <div class="editor-content">
        <div class="content" *ngIf="formEditorContentData.data.length">
          <app-editor-item [dataList]="formEditorContentData.data" [formEditorTitle]="formEditorTitle" (formDataOperation)="formDataOperation($event)"></app-editor-item>
        </div>
        <app-no-data *ngIf="!formEditorContentData.data.length" (createForm)="createForm()" [title]="'创建新的检查单！'" [buttonText]="'新建条目'"></app-no-data>
      </div>
    </div>
  </div>
</div>