<ng-container *ngIf="data._active">
  <!-- <span  *ngIf="!['select','custom'].includes(data.dataSourceType)" class="noData">无</span> -->
  <nz-select class="select" *ngIf="data.dataSourceType === 'select'" nzShowSearch nzAllowClear nzPlaceHolder="请选择数据来源" [(ngModel)]="data.dataConfig">
    <nz-option *ngFor="let item of selectDataSourceList" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
  </nz-select>
  <textarea  class="select" *ngIf="data.dataSourceType === 'custom'" nz-input [(ngModel)]="data.customData" [placeholder]="placeholder"></textarea>
</ng-container>


<div *ngIf="!data._active" class="select">
  <!-- <span *ngIf="!['select','custom'].includes(data.dataSourceType)">无</span> -->
  <span *ngIf="data.dataSourceType === 'select'" >{{data.dataConfig}}</span>
  <span *ngIf="data.dataSourceType === 'custom'">{{data.customData}}</span>
</div>